*{padding: 0px; margin: 0px;}

header{
  width: 1400px;
  max-width: 100%;
  background-image: url("layer.jpg");
  background-size: cover;
  height: 481px;
  margin: 0px auto;
}
header h1{
  display: inline-block;
  color: white;
  font-size: 3em;
  font-weight: normal;
  margin: 70px 17.857142857142857142857142857143%;
}
header h1 span{border-bottom: 4px solid #344DC5}

@media screen and (max-width: 370px){
  header h1{
    font-size: 2em
  }
  .ctg li a, .tags li a{
    font-size: 0.8em;
  }
  nav h2{
    font-size: 1.2em;
  }
}

.wrapper{
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  border: 1px solid black
}

.ctg{height: auto;}

.ctg li{
  list-style-type: none;
  margin-top: 20px;
  border-bottom: 1px solid silver;
  font-size: 1.2em;
}

.ctg li a{
  text-decoration: none;
  color: black;
}
.ctg li a:hover{color:#344DC5}
nav h2{
  border-bottom: 2px solid #344DC5;
  margin-top: 70px;
  margin-bottom: 30px;
}


.tags li{
  display: inline-block;
  border: 1px solid black;
  padding: 10px 30px;
  font-size: 1.2em;
  list-style-type: none;
  margin: 5px;
  cursor: pointer;
  transition: 0.2s color linear, 0.2s background linear;
}
.tags li:hover{
  background: #344DC5;
  color: white;
}
.photo{
  border: 1px solid black;
  height: 350px;
}
footer{
  grid-column: 1/3;
  width: 100%;
  height: 332px;
  background-image: url("Rectangle 16.jpg");
  margin-top: 100px;
}
footer .str{
  display: block;
  width: 300px;
  height: 60px;
  text-indent: 10px;
  color:  #344DC5;
}
.email{
  width: 360px;
  display: flex;
  justify-content:space-between;
  margin: 100px auto;
}
.btn{
  height: 60px;
  width: 60px;
  border: none;
  background: #344DC5;
}
